.statement {
  position: relative;
  background: url("../../../assets/images/banner-image.jpg") center/cover
    no-repeat;
  color: white;
  text-align: center;
  padding: 60px 20px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); // <- Adjust opacity here
    z-index: -1;
  }

  .statement-content {
    position: relative; // Ensure content stays above the overlay
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 1.85rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      font-size: 1rem;
      margin: 20px 0 40px;
    }

    .cta-button {
      text-decoration: none;
      background-color: #ebebeb;
      color: #000000;
      border: none;
      padding: 12px 24px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
